<!DOCTYPE html>
<html lang="en">
<head>


<!--<script async src="https://www.google-analytics.com/analytics.js"></script>-->

<meta charset="utf-8">
<!--<meta name="description" content="Simplest possible examples of HTML, CSS and JavaScript.">-->
<!--<meta name="author" content="//samdutton.com">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta itemprop="name" content="simpl.info: simplest possible examples of HTML, CSS and JavaScript">-->
<!--<meta itemprop="image" content="/images/icons/icon192.png">-->
<!--<meta id="theme-color" name="theme-color" content="#fff">-->


<!--<base target="_blank">-->


<title>{{name}}</title>
</head>

<body>
  <div id="container">
    <video autoplay playsinline></video>
  </div>
</body>
</html>
<script>
var constraints = {
  video: true
};

var video = document.querySelector('video');

function handleSuccess(stream) {
  window.stream = stream; // only to make stream available to console
  video.srcObject = stream;
}

function handleError(error) {
  console.log('getUserMedia error: ', error);
}

navigator.mediaDevices.getUserMedia(constraints).
  then(handleSuccess).catch(handleError);
</script>